/* table styles */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

th, td {
    border: solid black 1px;
    text-align: justify;
    padding: 0.25rem;
}

tr:nth-child(even) {background-color: #fcfafa;}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background: rgb(234, 240, 240);
    margin-top: 2rem;    
}
/* general styles */
h1 {
    text-align: center;
    font-family: 'Kanit: 700', sans-serif;
}

.center {
    text-align: center;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(160, 219, 121);
}

button {
    padding: .5rem;
    border-radius: 10%;
    background: rgb(234, 240, 240);
    
    position: relative;
    
}
/* business cards */
.bCards {
    border: solid black 1.25px;
    border-radius: 2%;
    box-shadow: 3px 4px grey;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 12rem;
    margin-left: 12rem;
    text-align: center;
    line-height: 175%;
    background: rgb(234, 240, 240);
}


